/*----------------------- NAV --------------------------*/

nav {
    /* background-color: #fab696; */
    background-color: #ffe75e;
    text-align: center;
}

body {
    font-family: 'Pacifico';
}

/*----------------------- MAIN DIV --------------------------*/

.tabela {
    /* background-color: #f7c5a8; */
    background-color: #deff8b;
}

.container {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 22px;
}

.row {
    /* font-family: 'Simonetta'; */
    font-size: 18px;
}

.img {
    width: 2rem;
    margin-left: 15px;
}


.input-field, .add-button {
    width: 550px;
    margin-top: 10px;
    text-align: center;
}


.input-field-short, .remove-button {
    width: auto;
    margin-top: 10px;
}

.remove-button, .add-button {
    background-color: transparent;
    border: 1px solid black;
}


#input {
    /* background-color: transparent; */
    background-color: #e6ff8b;
}

.budget {
    margin-top: 3rem;
    /* font-family: 'Caveat'; */
}

/*----------------------- PRICE DIV --------------------------*/

.price {
    margin-top: 30px;
    padding: 20px 10px;
    /* background-color: #fab696; */
    background-color: #8cba51;
    /* font-family: 'Caveat'; */
    font-size: 20px;
    font-style: bold;
}


.col-8 {
    text-align: center;
}






